<a href="https://colab.research.google.com/github/Edu-Fidelis/ProjetoDataScience/blob/main/Dia%2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1 - Importar as bibliotecas**

In [ ]:

# Dataframes e manipulação
import pandas as pd

# Requisitar dados do site
import requests

# Inspecionar HTML
from bs4 import BeautifulSoup

## **2 Task - Obter dados dos jogadores**

In [ ]:
url = 'https://sofifa.com/players?offset='

In [ ]:
colunas = ['Nome', 'Idade', 'Posicao', 'Media', 'Potencial', 'Time', 'Salario', 'Total_Pontos']

In [ ]:
dados = pd.DataFrame(columns=colunas)

Empty DataFrame
Columns: [Nome, Idade, Posicao, Media, Potencial, Time, Salario, Total_Pontos]
Index: []