<a href="https://colab.research.google.com/github/Edu-Fidelis/ProjetoDataScience/blob/main/Dia_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1 - Importar as bibliotecas**

In [3]:

# Dataframes e manipulação
import pandas as pd

# Requisitar dados do site
import requests

# Inspecionar HTML
from bs4 import BeautifulSoup

## **2 Task - Obter dados dos jogadores**

In [4]:
url = 'https://sofifa.com/players?offset='

In [5]:
colunas = ['Nome', 'Idade', 'Posicao', 'Media', 'Potencial', 'Time', 'Salario', 'Total_Pontos']

In [6]:
dados = pd.DataFrame(columns=colunas)

In [7]:
dados.head()

Empty DataFrame
Columns: [Nome, Idade, Posicao, Media, Potencial, Time, Salario, Total_Pontos]
Index: []

In [11]:
for offset  in range (0, 50):
  url = url + str(offset*61)
  p_html = requests.get(url)
  p_soup = p_html.text
  data = BeautifulSoup(p_soup, 'html.parser')
  table = data.find('tbody')
  for i in table.findAll('tr'):
    td = i.findAll('td')
    Nome = td[1].findAll('a')[0].text
    Idade = td[2].text
    Posicao = td[1].findAll('a')[1].text
    Media = td[3].find('span').text
    Potencial = td[4].find('span').text
    Time = td[5].find('a').text
    Salario = td[7].text.strip()
    Total_Pontos = td[8].text.strip()

    dados_jogadores = pd.DataFrame([[Nome, Idade, Posicao, Media, Potencial, Time,Salario, Total_Pontos ]])

    dados_jogadores.columns = colunas

    dados =  dados.append(dados_jogadores, ignore_index=True)

In [12]:
print(dados)

                  Nome Idade  ... Salario Total_Pontos
0            Evanilson    20  ...     €9K         1670
1             O. Kabak    20  ...    €17K         1714
2                 Jesé    27  ...    €37K         1768
3            A. Hložek    17  ...    €500         1881
4      Bruno Fernandes    25  ...   €240K         2336
...                ...   ...  ...     ...          ...
2995           S. Dest    19  ...    €50K         1964
2996        João Félix    20  ...    €61K         2072
2997         K. Mbappé    21  ...   €160K         2147
2998            Antony    20  ...    €17K         1939
2999          B. White    22  ...    €40K         1663

[3000 rows x 8 columns]

In [13]:
dados.to_csv('sds_fifa.csv', encoding='utf-8', index=True)

dados.to_excel('sds_fifa.xlsx', index=True)